/* index style */

*, *::after, *::before {
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  margin: 0;
}

.container{
  display: flex;
  min-height: 100vh;
}

.left{
  font-family: 'Josefin Sans', sans-serif;

  background-color: hsl(125, 46%, 95%);
  background-size: cover;
  background-position: center center;
  width: 60%;
  padding: 0 30px 30px;
}

.inner-container{
  max-width: 450px;
  margin: auto;
}

.right{
  width: 40%;

}

.image-right{
  background-image: url('./images/taxi-desktop.jpg');
  background-size: cover;
  background-position: center center;
}

.brand-logo{
  margin: 60px 0;
  width: 150px;

}

.bg-mobile{
  display: none;
}

h1{
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 10px;
  margin-bottom: 0;
  transform: translateX(-100%);
  animation: scrollX_tag 0.5s ease forwards;
}

h1 span{
  color: hsl(128, 50%, 50%);
  font-weight: 200;
}

.btn-add{
  background-image: linear-gradient(135deg, hsl(125, 46%, 75%), hsl(128, 50%, 50%));
  box-shadow: 0px 0px 10px hsl(0, 36%, 70%, 0.5);
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: translateX(100%);
  animation: scrollX1_tag 0.5s ease forwards;
  height: 55px;
  width: 200px;
  font-size: 20px;
  transition: opacity 0.2s ease;
}

.btn-add:hover{
  opacity: 0.5;
}

.btn-add:focus{
  outline: none;
}

/* -----------------------Model Style ------------------------------------------------ */


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: hsl(125, 46%, 95%);
  width: 500px;
  max-width: 80%;
  overflow: hidden;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
  background-image: linear-gradient(135deg, hsl(125, 46%, 75%), hsl(128, 50%, 50%));

}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.title{
  margin: auto;
}

/* ----------------------------------------------------form styling ------------------------------- */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  /* background-color: #4CAF50; */
  background-image: linear-gradient(135deg, hsl(125, 46%, 75%), hsl(128, 50%, 50%));
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  opacity: 0.6;
}


/* ---------------------------------------end form style ----------------------------------------- */









/* --------------------------------------------Table css ------------------------------------------ */
#show {
  /* font-family: Arial, Helvetica, sans-serif; */
  border: none;
  border-collapse: collapse;
  width: 100%;
  transform: translateX(-100%);
  animation: scrollX_tag 0.5s ease forwards;
}


#show td, #show th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

#show tr:nth-child(odd){
  background-color: hsl(127, 49%, 80%);
}

#show tr:hover {
  background-color: #ddd;
}

#show th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(135deg, hsl(125, 46%, 75%), hsl(128, 50%, 50%));
  color: white;


}

#show td{
  color: black;
}

/* ----------------------------------------- The end of table css --------------------------------- */



/* ------------------------------------------- Animation ------------------------------------------  */
@keyframes scrollX_tag {
  to {
    transform: translateX(0);
  }
}

@keyframes scrollX1_tag {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* * ------------------------------------------- Animation ------------------------------------------  */



/*-----------------------------------------   for mobile purpose   -------------------------------- */
@media screen and (max-width: 710px) {
  .left{
    width: 100%;
  }
  .right{
    display: none;
  }
  .bg-mobile{
    display: block;
    margin-left: -40px;
    margin-right: -40px;
    width:calc(100% + 80px);
    height: 300px;
  }
  .brand-logo{
    margin: 30px 0;
    width: 100px;
  }
  h1{
    font-size: 40px;
  }
}
